:root {
    /* Colors */
    --primary: #2dd865;
    --primary-dark: #36ad5d; /* Title */
    --primary-light: #36ad5d;
    --primary-text: #eeeeee;
    --secondary-text: #dddddd;
    --accent: #36ad5d;
    --divider: #36ad5d;
    --white: #222222;
    --background-caption: #22222299;
    --background-fill: #171717;
}

pre {
    background-color: var(--primary-dark);
}

.post__body img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

code {
    font-family: Monaco, monospace;
    font-size: 12;
    line-height: 100%;
    color: var(--primary-light);
    padding: 0.2em;
    letter-spacing: -0.05em;
    word-break: normal;
    /border-radius: 5px;/
}

body {
  background-color: var(--white);
}

.hero {
	background-color: var(--background-fill);
  background-position: center;
}

.hero__caption {
  color: var(--primary-dark);
}

.content {
	background-color: var(--white);
}

.section {
	background-color: var(--white);
}

.post {
	background-color: var(--white);
}

.post__body {
	background-color: var(--white);
}

.carousel-intro{
  margin-left: auto;
  margin-right: auto;
  width:70%;
}

.carousel-inner{
  margin-left: auto;
  margin-right: auto;
  width:70%;
  max-height: 700px !important;
}

.carousel-item{
  height: 700px;
  background-size: cover;
  background-position: center, center;
}

.responsive{
  width: 50%;
  height: auto;
}

.carousel-caption{
  background-color: var(--background-caption);
}

.icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #fff;
  line-height: 80px;
  border-radius: 40px;
  border: solid 2px #fff;
  font-size: 40px;
}
.icon.icon-lg {
  font-size: 30px;
  border-width: 2px;
}
.ul-icons {
  padding-left: 10px;
}
.ul-icons li {
  list-style-type: none;
  line-height: 20px;
  margin-bottom: 20px;
}
.ul-icons li i {
  width: 20px;
  height: 20px;
  background: #38a7bb;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  line-height: 20px;
  margin-right: 10px;
}
.box-img {
  text-align: center;
  margin-bottom: 40px;
}

.box-img .dataset-title {
  color: var(--primary-dark);
}

.box-img .img {
  color: var(--primary);
  border-color: var(--primary);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.dataset{
  margin-left: auto;
  margin-right:auto;
}
.icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #fff;
  line-height: 80px;
  border-radius: 40px;
  border: solid 1px #fff;
  font-size: 20px;
}

.box-simple {
  text-align: center;
  margin-bottom: 40px;
}
.box-simple .icon {
  color: var(--primary);
  border-color: var(--primary);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.box-simple h3 {
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--primary-text);
  font-weight: 800;
  letter-spacing: 0.08em;
}
.box-simple h3 a {
  color: var(--primary-text);
}
.box-simple p {
  color: var(--secondary-text);
}
.box-simple:hover .icon {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.box-simple:hover .icon i {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.logo-about {
  margin-top: auto;
  margin-bottom: auto;
}

.img-about {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.post-img {
  width: 80%;
}
